# Data Processing and Connection
duckdb
pandas
csvkit

# Explainable AI (XAI)
lime
dice_ml
adversarial-robustness-toolbox
torch

#Visualization
seaborn

# Jupyter Support (Required for VS Code Notebooks)
ipykernel
